* {
margin: 0;
padding: 0;
font-family: 'Assistant', sans-serif;
}
h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body {
  background: linear-gradient(
			  to bottom,
			  rgba(255, 255, 255, 0.774) 30%,
			  rgba(255, 255, 255, 0.481) 90%
				),
				url("./imagenes/foto8.jpg");
        overflow: scroll;
}

table {
  border-collapse: collapse;
  display: flex;
  width: 50%;
  padding: 20px 20px;
  margin: 50px auto; 
 }

th, td {
  padding: 8px;
  text-align: left;
  width: 25%;
  border: #FFF 1px solid;
}

td, th {
  text-align: center;
  border: #27AE60 1px solid;
  padding: 15px;  
  background-color: #FFF;
}

nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px!important;
  background-color: rgba(0, 0, 0, 0); /* hacer el fondo transparente */
  line-height: 50px;
  z-index: 1; /* establecer un valor mayor que el del slider */
  background-color: hsla(194, 68%, 94%, 0.301);
}
.logo img{
  position: absolute;
  display: inline-flex;
  width: 90px;
  height: 60px;
  margin-left: 30px ;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  transition: 0.7s all;

}
nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: #0e0bd1;
  padding: 30px;

  
}
nav ul li :hover{
  background-color:#088 ;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    height: 5vh;
    bottom: 0%;
  }
  

@import url(https://fonts.googleapis.com/css?family=Exo:100);
* {margin: 0; padding: 0; border: 0 none;}
.slider {
  position: relative; 
  display: block;/* hacer que el slider sea un elemento relativo */
  width: 100%;
  height: 600px;
  overflow: hidden;
  z-index: 0;
   
}

.slider ul{
  display: flex;
  animation: cambio 20s infinite alternate linear;
  width: 400%;
  
}
.slider li{
  width: 100%;
  list-style: none;

}
.slider img{
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
@keyframes cambio{
  0%{margin-left: 0;}
  20% {margin-left: 0;}

  25%{margin-left: -100%;}
  45% {margin-left: -100%;}

  50%{margin-left: -200%;}
  70% {margin-left: -200%;}

  75%{margin-left: -300%;}
  100% {margin-left: -300%;}

}
span {
  background:  rgba(243, 241, 241, 0.678);
  border-radius: 0 5vh 5vh 0;
  color: #0e0bd1;
  position: absolute;
  left: 60px;
  top: 40vh;
  font-size: 5vh;
  line-height: 5vh;
  border: 1px solid rgba(255,255,255,.45);
  border-left: 0 none;
  z-index: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#buscar {
 
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 20px; /*espacio alrededor texto*/
  background-color: #0e0bd1; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px; /*bordes redondos*/
  flex-direction: row-reverse;
  display: flex;
  margin-left: auto;
  margin-right: auto; 
  width: 200px;
  justify-content: center;
 }
 button {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color:  #0e0bd1; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px; /*bordes redondos*/
  flex-direction: row-reverse;

  margin-left: auto;
  margin-right: auto; 
  list-style: none;
  float: center;
 }




 select, input{
  padding: 10px; /*espacio alrededor texto*/
  border: 1px solid #2e518b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px; /*bordes redondos*/
  flex-direction: row-reverse;
  display: flex;
  margin-left: auto;
  margin-right: auto; 
  margin-bottom: 40px;
  margin-top: 30px;
 }
.caja {
  font-weight: bold;
  width: 50%;
  height: 400px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
}

#titulo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 80px;
  margin-bottom: 50px;
  color: rgb(15, 0, 0);

}
.flex-container{
  display: flex;
  justify-content: center;
 
}
.flex-container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.flex-container2 > div {
  background-color: #f1f1f1;
  width: 150px;
  height: 200px;
  margin: 40px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.actividad {
  border-radius: 10px;
}
.actividad img{
  width: 150px;
  height: 150px;
}

.informacion h2 {
text-align: center;
padding: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 40px;
}
.informacion p {
  text-align: center;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  
  }

.caja label {
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 0%;
  left: 0%;
  margin:auto;
  padding: 0;
}
h3{
 padding: 0%;
  margin: 0px;
  text-align: center;
  line-height: 0px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: #070708;
}

/*   ------------------------------------ esto es para la rotacion ---------------------------------*/
.flip-box {
  background-color: transparent;
  width: 500px;
  height: 300px;
  border-radius: 5px ;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 5px ;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px ;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  left: 8px;

}

.flip-box-back {

  color: white;
  right: 10px;
  transform: rotateY(180deg);
}
.contenido {
  width: 50%;
  height: 500px;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
 }

 .img-contenido {
  background-image: url("./imagenes/foto30.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  font-weight: bold;
  width: 40%;
  line-height: 60px;
  text-align: center;
  margin: 10px;
  margin-top: 80px;
  align-items: center;
  justify-content: center;
 }
 .nombredeportistas h2 {
  text-align: center;
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  }
  .nombredeportistas p {
    text-align: center;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    
  }

  #atletastodos {
    display: none;
  }

  footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: rgb(5, 1, 15);
    color: white;
    margin-top: 60px;
    display: flex; 
  
  }

  footer  p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    margin-top: 70px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
   

  }
  
  footer div {
    display: flex;
    align-items: center;
  }
  
  footer img {
    width: 130px;
    height: 130px;
    margin-right: 400px;
  }
  
